.App {
  min-height: 100vh;
  text-align: center;
  color: #ffffff;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-form {
  padding: 1rem;
}

.App-pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.App-selection {
  margin: 0 1rem;
  border-radius: 5px;
  background-color: #007fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
